body{
  background-color: #AFEEEE;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.0;
  text-align: center;
  margin: 0;
}